@import "tailwindcss";

:root {
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

body {
  font-family: var(--font-inter), system-ui, -apple-system, sans-serif;
}

